@import url("Header&Footer.css");
/* ################ */
/* start why-what */
div.why-what {
  margin-top: 150px;
  margin-bottom: 30px;
  padding-inline: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  transition: all 1s linear;
}
div.why-what h1 {
  font-size: 15px;
  font-family: "DM Sans";
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

div.why-what h1.slideDesign::after {
  content: "";
  width: 200px;
  height: 2px;
  border-radius: 30px;
  background-color: #19171783;
  position: absolute;
  bottom: -210%;
  left: 0%;
}

@media (max-width: 900px) {
  div.why-what {
    padding-inline: 10px;
  }
}

@media (max-width: 1000px) {
  div.why-what h1.slideDesign::after {
    display: none;
  }
}
/* end why-what  lending*/
/* ################ */
/* start lending    */
section.lending {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  row-gap: 60px;
  flex-wrap: wrap;
  transition: all 0.5s linear;
}
.lending div img {
  width: 85%;
}
.lending div h1 {
  color: #0f2137;
  font-size: 32px;
}
.slideHide {
  position: fixed;
  opacity: 0;
}

.lending div p {
  color: #02073e;
  line-height: 45px;
}
.lending > div > span {
  color: #3183ff;
}

.lending div div span {
  margin-right: 40px;
  line-height: 45px;
}
.lending div div span:last-child {
  margin-left: 37px;
}
/* end lending    */
/* ################ */
/* start superhero    */
section.superheros {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  font-family: "DM Sans";
  /* background-color: #ff0000; */
  width: 400px;
  height: 400px;
  position: relative;
  margin: 100px auto 30px;
}

.superheros .next {
  position: absolute;
  right: 5%;
  background: #ffffff00;
  top: 48%;
}

.superheros .prev {
  position: absolute;
  left: 5%;
  background: #ffffff00;
  top: 48%;
}
section.superheros .slideNative {
  /* background-color: #1f06ff; */
  position: absolute;
  margin: auto;
  opacity: 0;
  transition: all .4s linear;
}
section.superheros div.active {
 opacity: 1;
}
section.superheros div img {
  max-width: 200px;
}
section.superheros div h1 {
  font-size: 15px;
  color: #0f2137;
}
section.superheros div p {
  font-size: 15px;
  color: #7589a1;
}

/* section.superheros div:nth-child(3) {
  position: relative;
} */

/* section.superheros div:nth-child(3) .play {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  right: -15%;
  top: 30%;
  box-shadow: 1px 1px 15px black;
} */

@media (max-width: 900px) {
  section.superheros {
    /* width: 10vw; */
    overflow: scroll;
  }

  section.superheros::-webkit-scrollbar {
    display: none;
  }
}
/* end superhero    */
/* ################ */
/* start Popular    */
section.Popular {
  margin-top: 200px;
}
section.Popular .title {
  text-align: center;
}
section.Popular .title p {
  color: #0f2137;
  font-weight: normal;
}

.Popular .textCard {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
  gap: 30px;
  line-height: 28px;
  border-radius: 30px;
}
.Popular .textCard div {
  overflow: hidden;
}
.Popular .textCard div img {
  filter: grayscale(50%);
  transition: all 0.2s linear;
}
.Popular .textCard div:hover img {
  filter: grayscale(0%);
  transform: scale(1.01);
}
.Popular .textCard div p {
  color: #0f2137b1;
}
.Popular .textCard div .bg-text {
  background-color: #afaba842;
  padding: 25px;
  margin-top: -0.0001%;
}
.Popular .textCard h2 {
  font-size: 21px;
}

.Popular .textCard div .textImage {
  position: relative;
}
.Popular .textCard div .textImage h3 {
  position: absolute;
  top: 50%;
  left: 5%;
  color: #ffffff;
}

.Popular .textCard div .textImage:last-child img {
  margin-top: 5%;
}
@media (max-width: 900px) {
  .Popular img {
    width: 99%;
  }
  .Popular .textCard div .textImage h3 {
    top: 30%;
  }
}

/* end Popular    */
/* ################ */
