@import url("Header&Footer.css");
/* ################ */
/* start main */
section.main {
  width: 100%;
  /* height: 50vh; */
  margin-top: 80px;
  text-align: center;
  transition: all 1s linear;
}
/* section.main .allCards  {
margin-top: 150px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 50px; 
align-items: center;
align-content: flex-start;
} */
.swiper {
  width: 80%;
  height: 100%;
  padding: 10% 12%;
  /* background-color: #ff0000; */
}
.swiper-slide {
  margin: 100px 0px;
}
section.main div .mainCard {
  border: 1px rgb(220, 218, 218) solid;
  width: 280px;
  min-height: 300px;
  text-align: center;
  padding-top: 1px;
  position: relative;
}
section.main div .mainCard i {
  position: absolute;
  font-size: 60px;
  left: 50%;
  transform: translate(-49%);
}
section.main div .mainCard i {
  position: absolute;
  font-size: 60px;
  left: 50%;
  transform: translate(-49%);
}
.main div .mainCard h2 {
  margin: 50px 0 40px;
}
.main div .mainCard button {
  background: #8471f4;
  padding: 10px 37px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  color: #ffffff;
}
/* end main */
/* ################ */
/* start choosePlan */
.choosePlan {
  text-align: center;
  margin-top: 60px;
  transition: all 1s linear;
}
.text-other-servises {
  text-align: center;
  margin-top: 60px;
  padding: 40px;
}

/* end choosePlan */
/* ################ */
/* start plan */

.plan {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.plan section {
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  text-align: center;
  min-width: 250px;
  height: fit-content;
  color: #8571ff;
  position: relative;
  transition: 0.3s linear;
}

.plan section:hover {
  transform: scale(1.03);
}
.plan section:last-child {
  margin-top: 60px;
}
.plan section:first-child {
  /* background-color: red; */
  margin-top: 100px;
}
.plan section > span {
  font-size: x-large;
  font-weight: bolder;
}

.plan section small {
  writing-mode: vertical-rl;
  position: absolute;
  background: #8571ff;
  padding: 7px;
  color: #ffffff;
  right: 0%;
  transform: rotate(330deg);
}

.plan .fa-solid.fa-circle {
  position: absolute;
  right: 16%;
  top: 1.5%;
  z-index: 100;
}
.plan section h1,
.plan section del {
  color: initial;
}
.plan section div {
  padding: 15px;
}
.plan section div {
  padding: 20px 0 20px 5px;
  display: flex;
  justify-content: space-between;
}
.plan section div .buy {
  background-color: #8571ff;
  padding: 2px 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff5ed;
  font-size: 10px;
}

@media (max-width: 900px) {
  .plan {
    margin-top: 10px;
  }
}
/* end plan */
/* ################ */
.otherServises {
  background-color: #f9fafc;
  margin: 0 -4.9%;
  padding: 10px;
}
/* ################ */
/* start services  */
.sevices {
  margin-top: 100px;
}
.sevices .allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.sevices .allCards:nth-child(2) {
  margin-top: 60px;
}

.sevices .allCards .card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #1708c0; */
  position: relative;
  gap: 15px;
}

.sevices .allCards .card img {
  width: 66px;
  height: 66px;
  margin-top: 12px;
}
.sevices .allCards .card span h1 {
  font-size: 16px;
}

.sevices .allCards .card span small {
  color: #8571ff;
}
@media (max-width: 900px) {
  .otherServises {
    margin: 0 -1%;
  }
}
/* end services  */
/* ################ */
/* start modal  */
.modal {
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-300%, -50%);
  background: #ffffff;
  z-index: 3000;
  /* display: none; */
  border-radius: 20px;
  border: 1px #666666 solid;
  overflow: hidden;
  transition: all 0.7s ease-out;
}

.modal #closeModal {
  position: absolute;
  right: 5%;
  top: 5%;
}

.displayModal {
  transform: translate(-50%, -50%);
}
.removeModal {
  transform: translate(300%, -50%);
}
.overlay {
  height: 100%;
  width: 93vw;
  background-color: #ffffffbd;
  position: fixed;
  backdrop-filter: blur(3px);
  top: 0;
  z-index: 2000;
  cursor: pointer;
  display: none;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.overlayBlock {
  display: block;
}
@media (max-width: 900px) {
  .modal {
    width: 300px;
    height: 300px;
  }
}
