/* global reuls      */

* {
  font-family: "b612";
}
body {
  padding: 10px 60px;
  /* height: 700vh; */
}
:root {
  --mainColor: #fff5ed;
}
/* end global reuls  */
/* ################# */
/* start Header      */
header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(400px);
  z-index: 1000;
}
header .header {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .header img {
  width: 76px;
}
header .header .logo {
  display: flex;
  align-items: center;
}
header .header .logo span {
  font-size: xx-large;
}
header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f90000; */
}
header .header nav ul {
  padding-left: 0;
}

header .header nav ul li {
  list-style: none;
  padding: 10px;
}
header .header nav ul li a {
  text-decoration: none;
  border-bottom: 5px rgba(255, 0, 0, 0) solid;
  transition: 0.7s;
}
header .header nav ul li a:hover {
  border-bottom-color: #0a8080;
}
header .header .login {
  text-align: center;
}
header .header .login span {
  padding-left: 16px;
  align-items: center;
  color: #0a8080;
  position: relative;
}
header .header .login span img {
  max-width: 100px;
  position: absolute;
  bottom: -20%;
  right: 0;
}

@media (max-width: 880px) {
  header {
    position: initial;
    backdrop-filter: initial;
  }

  header .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: ; */
  }

  header .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: -13vh; */
  }
  body {
    padding: 0;
  }
  header .header {
    padding: 0px;
  }
  header .header .login span {
    padding: 0px;
    margin-left: 8px;
    align-items: center;
  }
  header .header .login span {
    display: block;
    align-items: center;
    padding: 10px;
  }
}
/* end Header       */
/* ################ */
/* start choosePlan */
.choosePlan {
  text-align: center;
  margin-top: 60px;
}
.text-other-servises {
  text-align: center;
  margin-top: 60px;
  padding: 40px;
}

/* end choosePlan */
/* ################ */
/* start plan */

.plan {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.plan section {
  background-color: #ffffff;
  box-shadow: 5px 5px 15px #d9d9d9, -5px -5px 15px #ffffff;
  text-align: center;
  min-width: 250px;
  height: fit-content;
  color: #8571ff;
  position: relative;
  transition: 0.3s linear;
}

.plan section:hover {
  box-shadow: 5px 5px 10px #666666, -5px -5px 10px #ffffff;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  transform: scale(1.03);
}
.plan section:last-child {
  margin-top: 60px;
}
.plan section:first-child {
  /* background-color: red; */
  margin-top: 100px;
}
.plan section > span {
  font-size: x-large;
  font-weight: bolder;
}

.plan section small {
  writing-mode: vertical-rl;
  position: absolute;
  background: #8571ff;
  padding: 7px;
  color: #ffffff;
  right: 0%;
  transform: rotate(330deg);
}

.plan .fa-solid.fa-circle{
  position: absolute;
  right: 16%;
  top: 1.5%;
  z-index: 100;
 
}
.plan section h1,
.plan section del {
  color: initial;
}
.plan section div {
  padding: 15px;
}
.plan section div {
  padding: 20px 0 20px 5px;
  display: flex;
  justify-content: space-between;
}
.plan section div .buy {
  background-color: #8571ff;
  padding: 2px 12px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff5ed;
  font-size: 10px;
}

@media (max-width: 880px) {
  .plan {
    margin-top: 10px;
  }
}
/* end plan */
/* ################ */
.otherServises {
  background-color: #f9fafc;
  margin: 0 -4.9%;
  padding: 10px;
}
/* ################ */
/* start services  */
.sevices {
  margin-top: 100px;
}
.sevices .allCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.sevices .allCards:nth-child(2) {
  margin-top: 60px;
}

.sevices .allCards .card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* background-color: #1708c0; */
  position: relative;
  gap: 15px;
}

.sevices .allCards .card img {
  width: 66px;
  height: 66px;
  margin-top: 12px;
}
.sevices .allCards .card span h1 {
  font-size: 16px;
}

.sevices .allCards .card span small {
  color: #8571ff;
}
@media (max-width: 880px) {
  .otherServises {
    margin: 0 -1%;
  }
}
/* end services  */
/* ################ */
/* start Footer    */

footer {
  margin-top: 140px;
}
footer .footer {
  /* background-color: #d60505; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  column-gap: 20px;
  row-gap: 20px;
  text-align: center;
}
footer .footer div .logoInnovation {
  display: flex;
  align-items: center;
}
footer .footer div .logoInnovation img {
  width: 27%;
}
footer .footer div .logoInnovation h1 {
  display: inline;
  font-size: 20px;
  font-family: "b612";
  margin-top: 20%;
}
footer .footer div span {
  display: block;
  font-weight: bolder;
}

footer .footer div {
  text-align: left;
  /* width: fit-content;
    margin: 0 auto; */
}

/* @media (max-width: 880px) {
   
  } */
/* end Footer   */
