/* global reuls      */

* {
  font-family: "b612";
}
body {
  padding: 10px 60px;
}
:root {
  --mainColor: #fff5ed;
}
/* end global reuls  */
/* ################# */
/* start Header      */
header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(400px);
  z-index: 1000;
}
header .header {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header .header img {
  width: 76px;
}
header .header .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(36, 36, 36);
}
header .header .logo span {
  font-size: xx-large;
}
header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f90000; */
}

header .header nav {
  transition: all 1s ease-in-out;
}
header .header nav ul {
  padding-left: 0;
}

header .header nav ul li {
  list-style: none;
  padding: 10px;
}
header .header nav ul li a {
  text-decoration: none;
  border-bottom: 5px rgba(255, 0, 0, 0) solid;
  transition: 0.7s;
}
header .header nav ul li a:hover {
  border-bottom-color: #0a8080;
}
header .header .login {
  text-align: center;
  transition: all 1s ease-in-out;
}
header .header .login span {
  padding-left: 16px;
  align-items: center;
  color: #0a8080;
  position: relative;
}
header .header .login span img {
  max-width: 100px;
  position: absolute;
  bottom: -20%;
  right: 0;
}

.dropNav {
  display: none !important;
  opacity: 0;
  padding: 25px 20px 0;
  background: #fff7f7;
  position: absolute;
  flex-direction: column;
  text-align: center;
  margin-left: 70px;
}
.dropNav li {
  width: 100%;
  margin-left: 20px;
  /* margin-top: 10px; */
}

.dropNav li:hover {
  background-color: #e0c8c86b;
}
.dropNav li:not(:last-child) {
  border-bottom: 2px #0a8080 solid;
}
.ulDrop {
  position: relative;
}
.ulDrop:hover .dropNav {
  opacity: 1;
  display: flex !important;
}

.fa-solid.fa-bars {
  display: none;
}

@media (max-width: 900px) {
  header {
    position: initial;
    backdrop-filter: initial;
  }

  header .header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: ; */
  }

  header .header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: -13vh; */
  }
  body {
    padding: 0;
  }
  header .header {
    padding: 0px;
  }
  header .header .login span {
    padding: 0px;
    margin-left: 8px;
    align-items: center;
  }
  header .header .login span {
    display: block;
    align-items: center;
    padding: 10px;
  }
  .fa-solid.fa-bars {
    display: block;
    padding-left: 50px;
  }

  .hide {
    transform: translateY(-600%);
    /* display: none; */
  }

  .afterHide {
    margin-top: -160px !important;
    transition: all 1s linear;
  }
}

/* end Header       */
/* ############################ */
/* start Footer    */

footer {
  margin-top: 140px;
}
footer .footer {
  /* background-color: #d60505; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 10px;
  column-gap: 20px;
  row-gap: 0px;
  text-align: center;
  transition: all 1s linear;
}
footer .footer div:first-child {
  text-align: center;
}
footer .footer div:not(:first-child) {
  margin-top: 40px;
}
footer .footer div .logoInnovation {
  display: flex;
  align-items: center;
}
footer .footer div .logoInnovation img {
  width: 27%;
}
footer .footer div .logoInnovation h1 {
  display: inline;
  font-size: 20px;
  font-family: "b612";
  margin-top: 20%;
}
footer .footer div span {
  display: block;
  font-weight: bolder;
}

footer .footer div {
  text-align: left;
  /* width: fit-content;
		margin: 0 auto; */
}

/* end Footer   */
.navStyle {
  text-decoration: none;
  list-style: none;
  font-size: bolder;
}
