@import url("Header&Footer.css");

/* end Header       */
/* ################ */
/* start contact */
section.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background: #ff0000; */
  padding-left: 100px;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 150px;
  transition: all 1s linear;
}

section.contact div h1 {
  font-size: 60px;
  font-weight: normal;
}
/* section.contact div form {
  text-align: left;

} */
section.contact div form input[type="text"],
section.contact div form input[type="email"] {
  width: 300px;
  padding: 20px;
  border-radius: 19px;
  margin: 10px;
  margin-left: 0;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}
section.contact div form textarea {
  width: 300px;
  height: 60px;
  padding: 20px;
  border-radius: 19px;
  margin: 10px;
  margin-left: 0;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  resize: none;
}

section.contact div form input[type="submit"] {
  width: 335px;
  padding: 15px;
  border-radius: 19px;
  margin: 10px;
  margin-left: 0;
  background-color: #0a8080;
  color: #ffffff;
  letter-spacing: 5px;
  border: none;
  outline: none;
}

section.contact div img {
  width: 70%;
}

@media (max-width: 900px) {
  section.contact {
    padding-left: 0px;
    text-align: center;
  }
  section.contact div form input[type="text"],
  section.contact div form input[type="email"] {
    width: 250px;

  }
  section.contact div form textarea {
    width: 250px;
  }
  section.contact div form input[type="submit"] {
    width: 275px;
    
  }
}
/* end contact  */
/* ################ */
/* start FAQ */
.before-faq {
  text-align: center;
}
.faq {
  margin: 200px auto;
  /* width: fit-content; */
  width: 70%;

  padding: 10px;
  transition: all 1s linear;
}

.faq div {
  margin: 10px;
  
}
.faq div .qustion {
  background: #fbf1f1;
  padding: 10px 10px;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.faq div .qustion span {
  font-size: 30px;
  position: absolute;
  right: 0%;
  top: 0%;
  color: #fff;
}
.faq div .answer {
  padding: 15px;
  height: 0;
  display: none;
}
.qustion.active + .answer {
  display: initial;
  /* opacity: 1; */
  transition: all 1s linear;
}

.qustion.active span {
  transform: rotate(135deg);
  transition: all 1s linear;
}
